.footer {
    min-height: 70vh;
}
.footer__top {
    min-height: 56vh;
}
.footer__bottom {
    height: 14vh;
}
.footer__bottom a:hover {
    color: #45abff;
    text-decoration: underline;
}
.links__site a:hover {
    text-decoration: underline;
}