nav.nav-main--links a.links--link {
    padding: 5px;
    display: block;
    text-decoration: none;
    transition: .2s;
}
nav.nav-main--links a.links--link:hover {
    transform: translateY(-5px);
}
nav.nav-main--links a.links--link.active {
    border-bottom: 5px black solid;
    transform: translateY(0);
}

header.header div.header--info {
    height: 5vh;
}

header.header div.header--nav-main {
    height: 6vh;
    position: fixed;
    width: 100%;
}